@tailwind base;
@tailwind components;
@tailwind utilities;

/*? Migrar variables a Tailwind Config []*/

:root {
    /*? Colors*/
    --title-color: rgb(255, 72, 252);
    --text-page: rgb(79, 241, 255);
    --bg-page: #1513168e;
    --list-color: #9fa3a9;
    /*? Web Page Size*/
    --left-web-size-nav:20%;
    --right-web-size-section:100%;

}

@font-face {
    font-family: 'Modern Age';
    src: url('fonts/modern_age/Modern\ Age.ttf') format('truetype');
    /* Agrega otras fuentes y formatos aquí si es necesario */
}

*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    background-color: black;
    width: .75rem;
}

body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 1rem;
}

body::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
    border-radius: 2rem;
}

/*? Clases Personalizadas*/

.title-page {
    color: var(--title-color);
    font-weight: bold;
    font-family: Modern Age;
}

.text-page {
    color: var(--text-page);
}

.text-list-style {
    color: var(--list-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.list-bottom-line-style {
    width: 10%;
    border-width: 1.5px;
    opacity: .5;
    margin-left: 3%;
}

.bg-page {
    background-color: var(--bg-page);
}

.nav {
    width: var(--left-web-size-nav);
}

.section {
    width: var(--right-web-size-section);
}

